.icon-view {
  .heart-icon {
    height: 3vh;
    width: 48.5%;
    float: right;
    margin-top: -70px;
    padding-top: 15px;
    padding-bottom: 0px;
    background-color: #F1F4FF;
    .text {
      font-size: 30px;
      margin-left: 6px;
    }
    .icon {
      margin-top: -6px;
    }  
  }

  .review-icon {
    width: 48.5%;
    height: 3.3vh;
    padding-top: 10px;
    margin-left: -5px;
    background-color: #F0F0F0;
    .text {
      font-size: 30px;
      margin-left: 6.5px;
    }
    .icon {
      margin-top: -6px;
    }  
  }

  .icon {
    margin-left: 78px;
  }

  .divider  {
    margin-top: 15px;
    margin-left: -12px;
  }

  .modal-first-line {
    padding-left: 160px;
    padding-right: 160px;
  }

  .modal-second-line {
    padding-left: -5px;
  }
}