.at-list__item-extra {
  max-width: 500px;
  
  .item-extra__info {
    white-space: normal;
  }
}

.score-modal {
  font-size: 32rpx;
  .at-float-layout .layout-header {
    padding: 20rpx 40rpx;
  }

  .at-list__item .item-content__info-title {
    font-size: 30rpx;
  }

  .at-list__item-container {
    height: auto;
  }

  .at-list__item .item-extra__info {
    font-size: 28rpx;
  }

  .at-row {
    height: 60rpx;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
    width: 100%;
  }
  .at-input {
    width: 25%;
    padding: 0px 5px;
    margin-left: 0;
  }

  .at-input__container {
    width: 100%;
  }

  .at-input__input {
    height: 56rpx;
    border: 2px solid #C5D9E8;
    border-radius: 8rpx;
    padding-left: 20px;
    text-align: center;
  }
  .at-tag {
    border: 2px solid #C5D9E8;
  }
  .at-list__item-content {
    margin: 0;
  }
}

.equals {
  height: 100%;
  margin-right: 2.6px;
}

.at-input input {
  font-size: 28rpx;
}
// .division {

// }
.page .at-button__text {
  font-size: 30rpx;
}

.text {
  font-size: 28rpx;
  margin-top: 10rpx;
}

