@import "../../../app.less";
@radius: 8px;

.clipIcon {
  width: 130px;
  height: 110px;
  z-index: 120;
  position: absolute;
  margin-left: 550px;
  margin-top: -52px;
}

.own-review-card {
  background-color: rgb(255, 255, 255);
  border: 5px solid #6E75F5;
  width: 614px;
  word-wrap:break-word;
  margin-top: 70px;
  padding-top: 45px;
  padding-bottom: 104px;
  .own-review-background {
    width: 108.1%;
    height: auto;
    margin-top: -103px;
    margin-left: -24px;
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;
    border-bottom: 5px solid #6E75F5;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    .own-review-author { 
      font-size: 35px;
      margin-left: 24px;
    }
  }
  
  .own-review-content {
    margin-top: 10px;
    font-size: 30px;
  }
}

.own-review-heart {
  margin-left: 39px;
  margin-top: -84px;
  position: absolute;
  width: 90%;
}

.own-icon-view {
  width: 99.5%;
  margin-top: -50px;
  margin-left: -8px;
  margin-bottom: -20px;
  .delete-icon {
    height: 3vh;
    width: 48.5%;
    float: right;
    margin-top: -65px;
    padding-top: 10px;
    .text {
      font-size: 30px;
      margin-left: 5px;
    }
    .icon {
      margin-top: -6px;
    } 
  }

  .edit-icon {
    width: 48.5%;
    height: 3.3vh;
    padding-top: 10px;
    .text {
      font-size: 30px;
      margin-left: 5.5px;
    }
    .icon {
      margin-top: -6px;
    }  
  }

  .icon {
    margin-left: 100px;
  }

  .divider  {
    margin-top: 15px;
    margin-left: -2px;
  }
}


