.detail-sheet {
  
  .sheet-item {
    padding: 0 50rpx !important;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    font-size: 32rpx;

    .at-input {
      width: 100%;
      margin-left: 0;
    }
    
    .at-input input {
      text-align: right;
      padding-right: 38rpx;
    }

    picker {
      width: 50%;
      display: flex;
      justify-content: center;
      .at-list__item {
        padding: 24rpx 0;
      }
    }
    .options-view {
      padding: 20px;
    }
    .text{
      font-size: 30rpx;
    }
    .buttons {
      width: 100%;
      padding: 24rpx 25rpx;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      
      // margin-bottom: 20rpx;
    }
  }

  .sheet-item-picker::after {
    border: none;
  }

  

  
}
.at-input__title {
  font-size: 30rpx;
}

.at-input input {
  font-size: 28rpx;
}
.at-list__item .item-extra__info {
  font-size: 28rpx;
}

