@import "../../../app.less";
@radius: 10px;

  .sub-card {
    width: 90%;
    margin-left: 35px;
    margin-top: 60px;
    height: auto;
    font-size: 30px;
    .content-part {
      border: 5px solid @highLight;
      width: 70%;
      word-wrap:break-word;
      margin-left: 150px;
      border-radius: @radius;
      padding-top: 10px;
      padding-left: 25px;
      padding-right: 20px;
      .note {
        color: rgb(119, 119, 119);
        font-size: 26px;
    }}
    .photo-part {
        width: 16%;
        margin-left: 10px;
        margin-bottom: 30px;
        margin-top: 20px;
        .photos {
          width: 80px;
          height: 80px;
          border-radius: 60px;
    }}  
    
    .own-action {
      width: 75%;
      margin-top: -68px;
      margin-left: 160px;
      padding-bottom: 5px;
      .delete-icon {
        height: 3vh;
        width: 48.5%;
        float: right;
        margin-top: -73px;
        padding-top: 15px;
        padding-bottom: 12px;
        .text {
          font-size: 30px;
          margin-left: 5px;
        }
        .icon {
          margin-top: -6px;
          margin-left: 105px;
        }  
      }
    
      .edit-icon {
        width: 48.5%;
        height: 3.3vh;
        padding-top: 10px;
        margin-top: 10px;
        padding-bottom: 7px;
        .text {
          font-size: 30px;
          margin-left: 5px;
        }
        .icon {
          margin-top: -6px;
        }  
      }
    
      .icon {
        margin-left: 50px;
      }
    }
  }
 