@import "../../../app.less";
@radius: 10px;

.course-card-wraper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 25rpx;

  .course-title {
    width: 662rpx;
    background-color: #586EA9;
    box-sizing: border-box;
    border: 3rpx solid #063A88;
    border-radius: @radius;
    padding: 15rpx 30rpx;
    color: #fff;
    font-size: 32rpx;
    margin-bottom: -10rpx;
    z-index: 2;
  }

  .course-card {
    background-color: rgb(255, 255, 255);
    border: 6rpx solid #DDE7FB;
    width: 634rpx;
    border-radius: 10rpx;
    font-size: @fontSize;
    box-shadow: 0px 4rpx 12rpx rgba(0, 0, 0, 0.25);
  
    .lines {
      padding: 12rpx 35rpx;
      border-top: 3rpx solid #F0F0F0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
  
    .lines .line-title {
      width: 55%;
      font-size: 30rpx;
    }
  
    .lines .line-content {
      width: 45%;
      font-size: 30rpx;
    }
  
    .note {
      height: 46rpx;
      width: 100%;
      background-color: #DDE7FB;
      font-size: 24px;
      color: #787A7E;
      text-align: center;
      line-height: 50rpx;
      padding: 5rpx 0;
    }
  }
}
