page {
  background-color: #ffffff;
}

.calculator-selector-modal {
  .at-modal__container {
    background-color: transparent;
    top: auto;
    left: auto;
    transform: translate(0, 0);
    bottom: 100px;
    right: 40px;
    width: 60vw;
  }
}
