@import "../../app.less";


.notice-bar {
  padding-left: 199px;
}
 
.sub-list-review{
  background-color: @backGround;
  margin-top: 50px;
  margin-bottom: 220px;
}

.without-review {
  font-size: 28px;
  color: rgb(119, 119, 119);
  text-align: center;
  margin-top: -100px;
}

.add-icon {
  position: fixed;
  z-index: 200;
  bottom: 88rpx;
  right: 40rpx;
}

.fab-background {
  background-color: #e5eaf4;
  height: 190px;
  width: 100%;
  bottom: 0;
  position: fixed;
  z-index: 150;
}




