.library-card {
    background-color: white;
    height: 700px;
    width: 95%;
    margin: auto;
    top: 10%;
    border-radius: 15px;
}

.lib-cell {
    height: 200px;
}

.lib-operation-cell {
    height: 100px;
    background-color: white;
}

.operation-btn {
    width: 50%;
    height: 100%;
    border-radius: 25px;
    border-style: none;
    font-size: small;
    display: inline-block;
}

#detail-btn {
    left: 10%;
}

#refresh-btn {
    right: 10%;
}

.cell-title {
    position: relative;
    font-weight: bold;
    color: #4851AA;
    left: 5%;
    top: 10%;
}

.cell-content {
    position: relative;
    width: 90%;
    left: 5%;
    border-radius: 20px;
    background-color: #EDEDED;
    height: 25%;
    top: 25%;
}

.last-seats-info {
    position: relative;
    width: 30%;
    height: 100%;
    display: block;
    text-align: right;
    float: right;
    text-align: center;
}

.percentage-info {
    position: relative;
    right: 0%;
    z-index: 10;
    width: 15%;
    height: 100%;
    background: linear-gradient(to right, #DBE4F5, #849CF3, #6A67FE, #C167B5, #FE6782);
    border-radius: 20px;
    display: block;
    text-align: center;
    float: left;
    transition: width 0.5s;
    // More properties: transition with cubizer 
}
