@import "../../../app.less";

  .title-icon {
    font-size: 60px;
    color: @highLight;
    margin-left: 40px;
    margin-top: 50px;
  }
  .title {
    font-size: 35px;
    margin-left: 10px;
    margin-top: 20px;
  }
  
  .input-first-part {
    margin-top: -10px;
  }
  
  .text-area {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
  }

  .single-input {
    margin-right: 70px;
  }

  .button2 {
    float: left;
    margin-left: 110px;
    margin-top: 5px;
    margin-bottom: 35px;
  }

  .button1 {
    float: right;
    margin-right: 110px;
    margin-bottom: 35px;
    margin-top: 5px;
  }

  .first-star-icon {
    width: 15px;
    height: 13px;
    position: absolute;
    margin-left: 155px;
    margin-top: -70px;
  }

  .at-input{
    margin-left: 80px;
  }
  
  .at-float-layout .layout-header__title{
    font-size: 34px;
  }
  .at-float-layout .layout-header {
    padding: 16px 34px;
  }
  .at-input__title {    
    font-size: 34px;
  }
  .at-textarea {
    width: 566px;
    height: 292px;
    background-color: #F7F8FA;
    border: 2px #CCDFFB solid;
  }

  .at-textarea__counter {
    margin-top: -80px;
  }
  .at-input__input{
    padding-right: 16px;
    margin-left: 10px;
  }
